/* Body-Style and root */

html{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* Typography */

.upcoming-content h3{
    font-size: 2rem;
}

.upcoming-content h4{
    font-size: 1.1rem;
}

#title h1{
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

#new-articles h3{
    font-size: 2rem;
    margin: 0.8em 0.5em;
    color:hsl(35, 77%, 62%)
}

.new-posts h4{
    font-size: 1.1rem;
    margin-bottom: 1em;
    transition: color 0.5s;
}

#para-button button{
    font-size: 1rem;
    font-weight: 700;
}

.upcoming-content h3,h4,p{
    margin: 0;
    margin-bottom: 0.5em;
    transition: color 0.5s;
}




/* Header Style */

header{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 4em;
    margin-bottom: 3em;
}

#logo{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#list-frame{
    display: flex;
    list-style: none;
}

#list-frame li{
    margin-left: 2em;
}

#list-frame li a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    transition: color 0.5s;
}

#list-frame li a:hover{
    color:hsl(5, 85%, 63%);
}

#menubar{
    display: flex;
}

.checkbtn{
    font-size: 2rem;
    cursor: pointer;
    line-height: 1.5em;
    display: none;
    z-index: 1;
}

#check{
    display: none;
}

/* Main */
main{
    width: 70%;
    margin: 0 auto;
}

/* Featured */

#featured{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}


#featured-articles{
    width: 67%;
}

#new-articles{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    width: 30%;
}

#featured-articles img{
    width: 100%;
}

#featured-content{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

}

#title{
    width: 40%;
}



#para-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin:0;
    color: hsl(236, 13%, 42%);
}



#new-articles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#title h1{
    font-size: 3rem;
    margin:0;
}

#para-button button{
    padding: 1em 3em;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: hsl(36, 100%, 99%);
    cursor: pointer;
    text-transform:uppercase;
    transition: background-color 0.3s;
}

#para-button button:hover{
    background-color: hsl(240, 100%, 5%);
}

.new-posts{
    margin: 0.5em 1em;
    border-bottom: 1px solid;
    padding-bottom: 2em;
}

.new-posts:last-of-type{
    border:0;
    padding-bottom:0.8em;
}

.new-posts h4:hover{
    color:hsl(35, 77%, 62%);
    cursor: pointer;
}

.new-posts p{
    color: hsl(236, 13%, 42%);
}



/* Upcoming */

#upcoming{
    display: flex;
    justify-content: space-between;
}

.upcoming-img{
    width: 50%;
    margin-right: 1em;
}

.upcoming-posts{
    display: flex;
    width: 30%;
}

.upcoming-img img{
    width: 100%;
}

.upcoming-content h3{
    color:hsl(233, 8%, 79%);
}

.upcoming-content p{
    color:hsl(236, 13%, 42%);
}

.upcoming-content h4:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}




/* Footer */
.attribution { 
    font-size: 11px; text-align: center; 
    background-color:hsl(5, 85%, 63%);
    color: white;
}
.attribution a { 
    color: yellow;
}